<footer class="footer text-muted bg-light">
  <div class="container">
    <span>© <%= Date.today.year %> Your Company</span>
    <ul class="list-inline mb-0 float-right">
      <li class="list-inline-item mr-3"><a href="#">Terms</a></li>
      <li class="list-inline-item mr-3"><a href="#">Privacy</a></li>
    </ul>
  </div>
</footer>
