.input {
  @apply h-10 px-2 shadow border rounded border-gray-400 w-full; 
}

.btn {
  @apply font-semibold py-2 px-4 rounded cursor-pointer border-b-4;
}

.btn-primary {
  @apply bg-indigo-500 text-white border-blue-700;

  &:hover {
    @apply bg-indigo-400 border-blue-500;
  }
}

.btn-success {
  @apply bg-green-500 text-white border-teal-700;

  &:hover {
    @apply bg-green-400 border-teal-500;
  }
}

.btn-danger {
  @apply bg-red-500 text-white border-red-700;

  &:hover {
    @apply bg-red-400 border-red-500;
  }
}

.link {
  @apply text-blue-500;

  &:hover {
    @apply text-blue-800;
  }
}
