@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";

// Sticky footer to the bottom
body {
  min-height: 100vh;
  position: relative;
  margin: 0;
}

footer {
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

// Fixes bootstrap nav-brand container overlap
@include media-breakpoint-down(xs) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}
