<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>

  <body class="antialiased bg-gray-200">
    <%= render 'shared/header' %>
    <%= render 'shared/flash_messages' %>

    <div class="lg:px-10 px-4 py-5">
      <%= yield %>
    </div>
  </body>
</html>
